# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Vercel
.vercel

# Environment Variables
.env*.local

# Specifications
/Specifications/codes.md
